<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.saucedemo.test.BaseTest"/>
      <class name="com.saucedemo.test.LoginPageTests"/>
      <class name="com.saucedemo.test.HomePageTests"/>
      <class name="com.saucedemo.test.CartPageTest"/>
      <class name="com.saucedemo.test.LogoutPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
